@font-face {
    font-family:'Young';
    font-style: normal;
    font-weight: 400;
    font-display:swap;
    src: local('Young'), local('Young-Regular'),
    url(./assets/fonts/young-serif/YoungSerif-Regular.ttf) format('truetype'),
}
@font-face {
  font-family:'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display:swap;
  src: local('Outfit'), local('Outfit-Regular'),
  url(./assets/fonts/outfit/static/Outfit-Regular.ttf) format('truetype'),
}
@font-face {
  font-family:'Outfit';
  font-style: normal;
  font-weight: 600;
  font-display:swap;
  src: local('Outfit'), local('Outfit-Semi-Bold'),
  url(./assets/fonts/outfit/static/Outfit-SemiBold.ttf) format('truetype'),
}
@font-face {
  font-family:'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display:swap;
  src: local('Outfit'), local('Outfit-Bold'),
  url(./assets/fonts/outfit/static/Outfit-Bold.ttf) format('truetype'),
}
:root {
    --color-white: hsl(0,0,100%);
    --color-stone900: hsl(24, 5%, 18%);
    --color-stone600:hsl(30, 10%, 34%);
    --color-stone100:hsl(30,54%,90%);
    --color-brown800:hsl(14,45%, 36%);
    --color-rose50: hsl(330, 100%, 98%);
    --color-rose800:hsl(332, 51%, 32%);
    --color-stone150: hsl(30, 18%, 87%);
    --color-attribution-a: hsl(228, 45%, 44%); 
    --fontweight-regular: 400;
    --fontweight-semi-bold: 600;
    --fontweight-bold: 700;
  }

*, *::before, *::after {
    box-sizing: border-box;
  }

body {
    background-color: var(--color-stone100);
    font-family: "Outfit", sans-serif;
    min-height: 99svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    font-weight: var(--fontweight-regular);
    margin: 2rem;
  }

  main {
    background-color: white;
    border-radius: 2rem;
    max-width: 46rem;
    padding: 2.5rem 2.5rem 2rem 2.5rem;
    margin-bottom: 1rem;
  }

  img {
    border-radius: 0.5rem;
    width: 100%;
  }

  hr {
    color: var(--color-stone150);
  }
  h1, h2 {
    font-family: "Young", sans-serif;
  }
  
  h1 {
    font-size: 2.25rem;
    font-weight: var(--fontweight-regular);
    color: var(--color-rose800);
  }
  
  h3 {
    font-size: 1.25rem;
    font-weight: var(--fontweight-semi-bold);
    color:var(--color-rose800)
  }
  
  h2 {
    font-size: 1.75rem;
    font-weight: var(--fontweight-regular);
    color: var(--color-brown800);
  }

  strong {
    padding-right: 0.5rem;
  }

  td {
    padding: 0.9rem 1.5rem;
  }

  .recipe-image {
    margin-bottom: 2rem;
  }
    
  .description {
    font-size: 1rem;
    font-weight:300px ;
    line-height: 1.5rem;
    color: var(--color-stone600);
}

.title{
    color: var(--color-stone900);
}

.preparation {
    background-color: var(--color-rose50);
    border-radius: 0.5rem;
    padding:0.2rem 1rem;
}

.preparation-list {
    /* This sets the base text color */
    color: var(--color-stone600);  
    list-style: disc;
    padding-left:1rem;
}

/* The pseudo-elements "::marker" only targets the bullet point */
.preparation-list::marker {
    color: var(--color-rose800);
}

.preparation-list strong {
    font-weight: var(--fontweight-semi-bold);
    color: var(--color-stone600);
}

.preparation-list strong::after {
    color: var(--color-stone600);
    font-family: "Outfit";
    font-weight:var(--fontweight-regular);
    font-size: 1rem;
    line-height: 1.5rem; 
} 

.ingredients-list{
        color: var(--color-stone600);  
        list-style: disc;
        padding-left:1rem;
        line-height: 2rem; 
    
}

.ingredients-list::marker {
    color: var(--color-rose800);
}

.instructions-list {
    /* This sets the base text color */
    color: var(--color-stone600);  
    /* left:5rem; */
    padding-left: 1rem;
    line-height: 2rem; 
}

/* The pseudo-elements "::marker" only targets the bullet point */
.instructions-list::marker {
    color: var(--color-rose800);
    font-weight: var(--fontweight-semi-bold);
}

.instructions-list strong {
    font-weight: var(--fontweight-semi-bold);
    color: var(--color-stone600);
}

.instructions-list strong::after {
    color: var(--color-stone600);
    font-family: "Outfit";
    font-weight:var(--fontweight-regular);
    font-size: 1rem;
    line-height: 2rem;
} 

.nutrition_paragraph{
    color: var(--color-stone600);
    font-size: 1rem;
    font-weight: var(--fontweight-regular);
    margin-bottom: 1rem;
}

.nutrition_table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    font-weight: var(--fontweight-regular);
    color: var(--color-wenge-brown);
  }

  .nutrition_table-row {
    border-bottom: 1px solid var(--color-light-grey);
  }

.nutrition_td-bold{
    color: var(--color-rose800);
    font-weight: var(--fontweight-bold);
}

.nutrition_table-row {
    border-bottom: 1px solid var(--color-stone150);
  }

/* Media Queries */
@media (max-width: 450px) {
  body {
    margin: 0px;
  }

  main {
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0;
  }
  
  .recipe-image img {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0;
  }

  .recipe-image {
    margin-top: 11.5rem;
    margin-top: clamp(5rem, 40vw, 11.5rem);
  }
}